html {
    font-size: 62.5%;
}


body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    margin: 0;
}


.not-visible {
  display: none;
}

h1 {
  font-size: 2rem;
}

p, h3, h4  {
  margin:0
 }
 
 h4 {
   padding: 10px;
   
 }
 
 h6 {
   color:white;
  }

.flex-container {
  display: flex;
  flex-flow: row wrap;
}









