//colors
$tyrkys: #249191;
$dark-grey: #333;
$dark-blue: #364051;
$light-grey: #aaa;
$zluta: #fff45a;
$oranzova: #ffb949;

$overcast: #f1f1f2;
$warm-grey: #bcbabe;
$ice: #a1d6e2;
$glacier-blue: #1995ad;

$sky: #75b1a9;
$sun-glow: #d9b44a;
$mountains: #4f6457;
$mist: #acd0c0;

$nazvy: #1565c0;
$odbery: #ffeb3b;
$poznamka-oddeleni: #f5a424;
$detaily: #e91e63;
$lab: #4caf50;


//barvy komponent na detailu
$barvaNazev: $nazvy;
$barvaSynonyma: $nazvy;
$barvaNazevAk: $nazvy;
$barvaSkupinyAk: $nazvy;
$barvaKam: $odbery;
$barvaKdy: $odbery;
$barvaOdber: $odbery;
$barvaPreanal: $odbery;
$barvaPoznamka: $odbery;
$barvaPoznamkaOdd: $poznamka-oddeleni;
$barvaKdoPosila: $lab;
$barvaPoznamkaLab: $lab;
$barvaProvadiSe: $detaily;
$barvaOdezva: $detaily;
$barvaMetodika:$detaily;
$barvaJednotka: $detaily;
$barvaOdbornost:$detaily;


//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;