//colors
$tyrkys: #249191;
$dark-grey: #333;
$dark-blue: #364051;
$light-grey: #aaa;
$zluta: #fff45a;
$oranzova: #ffb949;


//barvy komponent na detailu
$barvaNazev: rgb(194, 255, 73);
$barvaSynonyma: $barvaNazev;
$barvaNazevAk: $barvaNazev;
$barvaSkupinyAk: $barvaNazev;
$barvaKam: $barvaNazev;
$barvaKdy: $barvaNazev;
$barvaOdber: $barvaNazev;
$barvaPreanal: $barvaNazev;
$barvaPoznamka: $barvaNazev;
$barvaPoznamkaOdd: $oranzova;
$barvaKdoPosila: $zluta;
$barvaPoznamkaLab: $zluta;
$barvaProvadiSe: $barvaNazev;
$barvaOdezva: $barvaNazev;
$barvaMetodika:$barvaNazev;
$barvaJednotka: $barvaNazev;
$barvaOdbornost:$barvaNazev;


//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;